<div class="collapsible">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>

    <img class="icon collapsible__chevron" src="images/chevron.svg" alt="" />
  </header>

  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus non
    voluptatum sunt quisquam cumque officia! Temporibus iste ipsum impedit
    suscipit error dolorum porro sapiente, magnam assumenda enim. Temporibus,
    ipsum mollitia?
  </div>
</div>
<script src="js/main.js"></script>
